[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
recommonmark = "*"

[dev-packages]

[requires]
python_version = "3.5"
